<h1 mat-dialog-title class="dialog-header">Natalia Gurgul</h1>
<p mat-dialog-content class="dialog-content">
  Cześć! Od ponad czterech lat pracuję jako Frontend Developer, przeważnie w
  Angularze, TypeScript, RxJS, Jasmine, SCSS, HTML5, ale jestem otwarta na naukę
  Reacta. Jestem entuzjastką czystego kodu, spójnego i estetycznego UI oraz
  podejścia „pixel-perfect”.
  <img
    class="smile"
    src="/assets/img/smile.svg"
    alt="smile image"
    width="60"
    height="60"
  />
</p>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close>Zamknij</button>
</div>
