@use "src/assets/styles/variables" as var;
@use "@angular/material" as mat;

footer {
  height: 4rem;
  background-color: var.$white;
  display: flex;
  justify-content: flex-end;
  padding: var.$space-sm;
  align-items: center;
  margin-top: var.$space-sm;
  @include mat.elevation(8, var.$shadow-color, 0.2);
}

.about-author-btn {
  margin: var.$space-sm;
}
