@use "src/assets/styles/variables" as var;

.regions-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var.$white;
  max-width: 100rem;
  margin: 0 6rem 3rem 6rem;
}

.region {
  width: 20rem;
  height: 20rem;
  margin: 5rem;
  color: var.$white;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
