/* You can add global styles to this file, and also import other style files */
@use "src/assets/styles/variables" as var;

@font-face {
  font-family: "Rosario";
  src: url("assets/Rosario-Regular.ttf");
}

html,
body {
  height: 100%;
  font-size: 0.625em;
}

body {
  margin: 0;
  font-family: "Rosario", sans-serif;
  background-color: var.$primary-color;
}
