/* You can add global styles to this file, and also import other style files */
@use "src/assets/styles/variables" as var;
@use "@material/shape";
@use "@angular/material" as mat;

html,
body {
  height: 100%;
  font-size: 0.625em;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var.$ghost-white;
}

.atlas-container {
  background-color: var.$white;
  margin: 0 auto;
  @include shape.radius(var.$shape-radius);
  @include mat.elevation(8, var.$shadow-color, 0.2);
}
