@use "src/assets/styles/variables" as var;

:host {
  @include var.center-page-content;
}

.countries-container {
  overflow: auto;
  height: 45rem;
  max-width: min(50rem, 100%);
}

.country-name {
  color: var.$black;
}
