<section *ngIf="countryDetails">
  <app-view-title [title]="countryDetails.name.common"></app-view-title>
  <mat-card class="atlas-container country-card">
    <mat-card-header class="country-card-header">
      <img
        [src]="countryDetails.flags.svg"
        [alt]="countryDetails.flags.alt"
        height="100"
        class="country-flag"
      />
      <h3 class="country-name">{{ countryDetails.fifa }}</h3>
    </mat-card-header>
    <mat-card-content>
      <div class="country-info">Stolica: {{ countryDetails.capital }}</div>
      <div class="country-info">Waluta: {{ currency?.symbol }}</div>
      <div class="country-info">Populacja: {{ countryDetails.population }}</div>
    </mat-card-content>
  </mat-card>
</section>
