<header>
  <mat-toolbar class="toolbar">
    <h1 id="logo">
      <a [routerLink]="['/', homeUrl]">
        <img
          class="app-logo"
          src="/assets/logo/atlas-low-resolution-logo-black-on-white-background-cropped-min.svg"
          alt="Atlas application"
          width="50"
          height="50"
        />
      </a>
    </h1>
    <button
      *ngIf="backBtnShown"
      mat-raised-button
      color="secondary"
      class="prev-page-btn"
      (click)="goBackToPrevPage()"
    >
      Cofnij
    </button>
  </mat-toolbar>
</header>
