$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$ghost-white: #f1f2fa;
$white: #ffffff;
$black: #000000;

$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 3rem;

$shape-radius: 0.4rem;

$shadow-color: #c5cae9;

@mixin center-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
